{% import("ui/templates/ranking.njk") as ranking %}
{% extends "ui/templates/main.html" %}
{% block content %}
<div class="container">
  <h1 class="is-size-1 has-text-centered">#PRCup</h1>
  {% if nextTarget %}<h2 class="is-size-4 has-text-centered">NEXT : <strong>#{{ nextTarget }}</strong></h2>{% endif %}
  {{ ranking.genranking(rankedScoresActive) }}
  <div class="collapsible mt-6 has-text-centered">
    <button class="button is-text" type="button" onclick="this.nextElementSibling.classList.toggle('is-hidden')">
      Former Competitors
    </button>
    <div class="mt-3 is-hidden">
    {{ ranking.genranking(rankedScoresInactive) }}
    </div>
  </div>
</div>
{% endblock %}